/* Base */

.description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    padding: 24px;

    background-color: gainsboro;
    border-radius: 10px;

    height: 450px;
}

.description__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description video {
    border-radius: 15px;
}
